<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ----navigation bar starts here--- -->
    <header id="header">
        <nav id="nav">
          <div id="nav_bar">
            <div class="log_name">
              <img
                src="/logo/ideas-high-resolution-logo-transparent (1).png"
                alt="This is logo"
              />
            </div>
            <div class="srch">
              <input type="text" placeholder="Search.." />
            </div>
          </div>
        </nav>
      </header>
      <!-- ----navigation bar ends here---- -->
</body>
</html>