<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | IDEAS</title>
    <link
      rel="shortcut icon"
      href="/logo/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta&family=Nunito&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <!-- navigation bar starts -->
    <header>
      <nav>
        <div class="nav_bar">
          <div class="log_name">
            <img
                src="/logo/ideas-high-resolution-logo-transparent (1).png"
                alt="This is logo"
              />
            <!-- <p class="name">Swastik</p> -->
          </div>
          <div class="dropdown">
            <a href="/" target="_parent"><p>Home</p></a>
          </div>
        </div>
      </nav>
    </header>
    <!-- navigation bar ends -->
    <section class="home">
      <!-- whole container -->

        <!-- signupbox -->
        <div class="signup_box">
          <div class="overlay-left">
            <!--left box-->
            <h3>Welcome to Swastik !</h3>
            <p>
              Enter the personal details to create an account and <br />Get
              connected to a new world of sharing and interaction.
            </p>
            <p>or</p>

              <button class="login-button">
                <a href="/login">Log In</a>
              </button>

          </div>
          <!-- signup form -->
          <div class="signup_form">
            <form action="/signup" method="post" id="signup-form" autocomplete="on">
              <h2>Sign Up</h2>
              <div class="name-wrapper">
                <input
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  required
                  id="name-field"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  required
                />
              </div>
              <div class="field-wrapper">
                <select name="gender" class="gender" title="Gender">
                  <option value disabled selected>Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="field-wrapper">
                <input type="date" name="dob" placeholder="DD/MM/YYYY" />
              </div>
              <div class="field-wrapper">
                <!-- <input type="number" name="code" placeholder=""> -->
              </div>
              <div class="field-wrapper">
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="field-wrapper">
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="field-wrapper">
                <input
                  type="password"
                  placeholder="Confirm Password"
                  required
                />
              </div>
              <input type="submit" value="Confirm" id="cnfrmbtn" />
            </form>
          </div>
        </div>
    </section>
  </body>
</html>
